body, html {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

.music-video {
    display: block;
    height: 90%;
    width: 100%;
}

.social-footer {
    display: block;
    height: 10%;
    text-align: center;
}

.social-footer:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.social-footer a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    margin-right: 1%;
    max-width: 10.8%;
    height: 80%;
    max-height: 128px;
}

.social-footer a:before {
    content:"";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.social-footer a img {
    max-width:100%;
    max-height:100%;
    display: inline-block;
    vertical-align: middle;
}
